html {
  scroll-behavior: smooth;
  margin: 0;
  border: 0;
}

body {
  margin: 0;
  border: 0;
  font-family: "League Spartan", Roboto, Arial;
}

/* Navigation bar -------------------------------------*/
/* Add a black background color to the top navigation */
.topnav {
  background: #092635;
  overflow: hidden;
  top: 0;
  z-index: 100;
  position: sticky; /* Ensure the navbar is above other elements */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: "League Spartan", Roboto, Arial;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #1b4242;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #1b4242;
  color: white;
}

.topbannervideo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00343b;
}

.topbannervideo > video {
  width: 20%;
}

.FlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  color: white;
  background: #00343b;
  width: 30%;
  margin-top: 2em;
  border: 1px solid #00343b;
  border-radius: 30px;
  margin-bottom: 7em;
  margin-top: 7em;
}

.logoWrapper {
  display: flex;
  justify-content: center;
}

.logoWrapper > video {
  width: 20%;
  margin-bottom: 3%;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #555;
}

h5 {
  font-size: 2em;
  color: #00343b;
  margin: 0;
}
@media (max-width: 993px) {
  .cardBack {
    display: none;
  }
  .cardVideo {
    display: none;
  }
  .banner {
    color: white;
    background: #00343b;
    width: 50%;
    margin-top: 2em;
    border: 1px solid #00343b;
    border-radius: 13px;
    margin-bottom: 7em;
    margin-top: 7em;
    font-size: 0.8em;
  }
  h1 {
    font-size: 1.8em;
  }

  h5 {
    font-size: 1.2em;
    color: #00343b;
    margin: 0;
  }

  .gridCompItem > p {
    font-size: 0.4em;
  }
}

@media (max-width: 565px) {
  .sliderNameCard {
    display: none;
  }
  .inputFromClass {
    width: 20em;
  }
  .inputField {
    width: 20em !important;
  }
  h1 {
    font-size: 1.2em;
  }
  .gridCompItem {
    font-size: 0.7em;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 10px;
    font-family: "League Spartan", Roboto, Arial;
  }
}

@media (max-width: 477px) {
  .inputFromClass {
    width: 20em;
  }
  .gridContainerWrapper {
    column-gap: 30px !important;
  }
}

@media (max-width: 418px) {
  #fullscreenDiv {
    display: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
  }
}

h1 {
  font-family: "League Spartan", Roboto, Arial;
  text-align: center;
  color: #003c43;
}

p {
  font-family: "League Spartan", Roboto, Arial;
  text-align: center;
}

.namecardWrapper {
  background-image: linear-gradient(
    -225deg,
    #dbd3f7 0%,
    #ba21e0 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
