@media screen and (max-width: 600px) {
    .navLinkA {
        font-size: 0.7em !important;
        padding: 1em !important;

    }
}

@media screen and (max-width: 400px) {
    .navLinkA {
        font-size: 0.5em !important;
        padding: 1em !important;
    }
}