
/*Space inbetween each input form*/
.formSpacing {
  margin-top: 1.5em;
}

/*dimensions for each input in the form*/
.inputFormClass > input {
  width: 25em;
  height: 2em;
  font-size: 1em;
}

/* form as a container as a whole */
.inputFormClass {
  display: grid !important;
  justify-content: center;
  align-items: center;
}

#CVC {
  width: 5em;
}

#Expiration {
  width: 10em;
}

#payBtn {
  display: grid;
  margin-bottom: 3em;
  height: 2em;
  font-family: Roboto, arial;
}

#payBtn > button {
  font-family: roboto;
  font-size: 2em;
  border: 0.5px solid white;
  padding: 0.3em;
  border-radius: 30px;
  font-weight: 900;
}

h2 {
  margin-top: 10em;
  font-family: Roboto;
  text-align: center;
  margin-bottom: 5em;
}
