

/*dimensions for each input in the form*/
.inputFormClass > input {
  width: 25em;
  height: 2em;
  font-size: 1em;
}

/* form as a container as a whole */
.inputFormClass {
  display: grid !important;
  justify-content: center;
  align-items: center;
}