.ColorCycleCSS {
  color: #4c85e0;
  animation: Colors 5s infinite;
  /* text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black; */
}

@keyframes Colors {
  0% {
    color: red;
  }
  25% {
    color: green;
  }
  50% {
    color: blue;
  }
  75% {
    color: purple;
  }
  100% {
    color: red;
  }
}

.ColorCycleCSSBG {
  background-color: #4c85e0;
  animation: ColorsBG 5s infinite;
  /* text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black; */
}
@keyframes ColorsBG {
  0% {
    background-color: red;
  }
  25% {
    background-color: green;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: purple;
  }
  100% {
    background-color: red;
  }
}

@media screen and (max-width: 800px) {
  .ColorCycleCSS {
      font-size: 1.5em !important;
  }

  .ColorCycleCSSBG {
    font-size: 0.8em !important;
  }
}

@media screen and (max-width: 600px) {
  .ColorCycleCSS {
      font-size: 1.5em !important;
  }

  .ColorCycleCSSBG {
    font-size: 0.7em !important;
  }
}

@media screen and (max-width: 600px) {
  .ColorCycleCSS {
      font-size: 1.5em !important;
  }

  .ColorCycleCSSBG {
    font-size: 0.5em !important;
  }
}